/* Genel stil ayarları */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

/* Başlık ve navigasyon menüsü stili */
header {
  background: #3b3a30;
  color: #eae3d2;
  padding: 10px 0;
}

/* Navigasyon menüsü stili */
nav {
  display: flex;
  justify-content: center;
  background: #2f2e2b;
}

nav a {
  color: #eae3d2;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  background: #452569;
}

/* Ana sayfa arka plan rengi */
.home {
  background: #a69f98;
}

/* Bilgi sayfası arka plan rengi */
.info {
  background: #dcd6c5;
}

/* Kitaplar sayfası arka plan rengi */
.books {
  background: #b8b2a3;
}

/* Giriş bölümü stili */
.intro img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.intro blockquote {
  font-style: italic;
  margin: 20px 0;
  color: #3b3a30;
}

/* Biyografi ve eserler bölümü stili */
.biography, .works {
  margin: 20px 0;
  padding: 20px;
  color: #2f2e2b;
  background: rgba(220, 214, 197, 0.8);
  border-radius: 10px;
}

/* Kitap listesi stili */
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.book-item {
  background: #3b3a30;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  word-wrap: break-word;
  color: #eae3d2;
}

/* Alt bilgi stili */
footer {
  background: #2f2e2b;
  color: #eae3d2;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.width {
  font-size: 35px;
  color: #3b3a30;
}
